.fontyourface-1090 { font-family: 'Montserrat'; font-style: normal; font-weight: 700; }
.fontyourface-1089 { font-family: 'Montserrat'; font-style: normal; font-weight: normal; }
.fontyourface-1765 { font-family: 'Roboto Slab'; font-style: normal; font-weight: 100; }
.fontyourface-1772 { font-family: 'Roboto Slab'; font-style: normal; font-weight: 300; }
.fontyourface-1786 { font-family: 'Roboto Slab'; font-style: normal; font-weight: 700; }
.fontyourface-1779 { font-family: 'Roboto Slab'; font-style: normal; font-weight: normal; }
